body{
    background-color: #221d1d;
    box-sizing: border-box;
}
.container{
    padding: 10px;
    margin-bottom: 20px;
}

 /* Navbar */
nav {
     padding: 10px 0;
}

.navcontainer {
    margin: 0;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu li{
    margin-right: 20px;
}

.menu li:last-child{
    margin-right: 0;
}

.mainTitle {
    font-size: 50px;
    font-weight: bold;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

/* Main Content */

.wrapper {
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.mainpicture {
    width: 500px;
    height:500px;
}

/* Experience */
#Experience {
    text-align: center;
}
    
#listofex {
    display: flex;
}

/* Portofolio */

.Portofolio {
    display: flex;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

#Myportofolio {
    text-align: center;
    align-items: center;
    display: block;
}

.boxPortofolio{
   width: 300px;
   height: 300px;
   display: inline;
   background-color: #ab9e9e;
   margin-left: 100px;
   padding: 20px;
   border-radius: 10px;
}

.boxPortofolio:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}