body {
    background-color: #242628;
}

 /* Navbar */
nav {
     padding: 10px 0;
}

.navcontainer {
    margin: 0;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu li{
    margin-right: 20px;
}

.menu li:last-child{
    margin-right: 0;
}

.mainTitle {
    font-size: 50px;
    font-weight: bold;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

/* Main Content */

.wrapper {
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    align-items: center;
}

.mainpicture {
    width: 500px;
    height:500px;
}

/* Portofolio */

.Project {
    display: inline;
}

#Myportofolio {
    text-align: center;
    align-items: center;
    display: block;
}

.boxPortofolio{
   display: flex;
}